# -- Database Configuration --
# can use url or individual components

# DB_URL=postgresql://user:password

# or 

# DB_ENGINE=postgresql
# DB_NAME=genderize.db
# DB_USER=your_username
# DB_PASSWORD=your_password
# DB_HOST=localhost
# DB_PORT=5432

# -- General Configuration --

# GENDERIZE_API_KEY=your_api_key_here
# LOAD_CSV=true